In [3]:
#INTRODUCTION TO LIST DATATYPES

#A LIST OF COLLECTION OF ITEM DECLARED IN A PARTICULAR ORDER
#CLASSIFICATION- IT IS CLASSIFIED AS A MUTABLE DATATYPES

In [4]:
students=['jassim','raj','divya','sadia','naveen']
print(students)

['jassim', 'raj', 'divya', 'sadia', 'naveen']

In [5]:
type(students)

list

In [6]:
#INTRODUTION TO INDEXING :0,1,2,3,4....

In [7]:
#REQ- I WANT TO GET THE DIVYA NAME IN THE OUTPUT?

In [8]:
print(students[2])

divya

In [9]:
print(students[2].title())   # to get in the proper way

Divya

In [10]:
print(students[4].title())

Naveen

In [11]:
# I WANT TO ADD THE NEW NAME IN THE ABOVE LIST?
#append is used for add the new name in the index

In [14]:
students.append('ayesha')
print(students)

['jassim', 'raj', 'divya', 'sadia', 'naveen', 'anand', 'anand', 'ayesha']

In [15]:
students.append('sayesha')
print(students)

['jassim', 'raj', 'divya', 'sadia', 'naveen', 'anand', 'anand', 'ayesha', 'sayesha']

In [16]:
# i want to the new name in 2 index
#insert is used to insert the new name in the variable index

In [19]:
students.insert(2,'mohammed')
print(students)

['jassim', 'raj', 'mohammed', 'mohammed', 'mohammed', 'divya', 'sadia', 'naveen', 'anand', 'anand', 'ayesha', 'sayesha']

In [21]:
print(students[2].title())

Mohammed

In [22]:
# i want to modify divya name to dhanya...?

In [24]:
students[3]='dhanya'
print(students)

['jassim', 'raj', 'mohammed', 'dhanya', 'mohammed', 'divya', 'sadia', 'naveen', 'anand', 'anand', 'ayesha', 'sayesha']

In [25]:
#i want to delete the name in the index

In [26]:
del students[4]   #it is used for permanant delete
print(students)

['jassim', 'raj', 'mohammed', 'dhanya', 'divya', 'sadia', 'naveen', 'anand', 'anand', 'ayesha', 'sayesha']

In [27]:
 #pop- by default it will be deleting the last elements from the list and will be saving in the variable assigned

In [28]:
x=students.pop()
print(students)

['jassim', 'raj', 'mohammed', 'dhanya', 'divya', 'sadia', 'naveen', 'anand', 'anand', 'ayesha']

In [29]:
print(x)

sayesha

In [30]:
#introduction to negative indexing

In [32]:
print(students[-1])

ayesha